# Server config
PORT=8443

KEYSTORE=classpath:tls.jks
KEYSTORE_PASSWORD=changeit
KEY_PASSWORD=changeit

# Oauth2 config
# If you don't know these values, check https://idp.example.com/.well-known/openid-configuration
CLIENT_ID=changeit
CLIENT_SECRET=changeit
AUTH_URI=https://idp.example.com/authorization/endpoint
TOKEN_URI=https://idp.example.com/token/endpoint
USERINFO_URI=https://idp.example.com/userinfo/endpoint
JWKS_URI=https://idp.example.com/json/web/key/set/endpoint
REDIRECT_URI=https://localhost.com/login/oauth2/code/{registrationId} # spring security default

# Database config
PG_USERNAME=changeit
PG_PASSWORD=changeit
PG_DB_NAME=myawesomedb
PG_HOST=localhost
PG_PORT=5432
